:root {
  --background: #f4f4f2;
  --foreground: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sf-pro), system-ui, -apple-system, Arial, Helvetica, sans-serif;
  letter-spacing: -0.005em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.main_pages {
  height: 2000px;
}